<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta content="网站关健字" name="keywords">
<meta content="网站描述" name="description">
<title>三维户型显示主页</title>
<!-- Bootstrap -->
<link href="/style/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/style/global.css" rel="stylesheet" type="text/css">
<link href="/style/stlye.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/script/jquery-1.11.1.min.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="/script/html5shiv.min.js"></script>
      <script src="/script/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--top begin-->
<div class="container float_c">
  <div class="in_top">
    <p class="float_l"><img src="/images/logo.png" width="191" height="86" /></p>
    <p class="float_r top_r_lj"><a href="/login" class="lj">登录</a>|<a href="/register">注册</a>|<a  href="#"><span class="glyphicon glyphicon-shopping-cart"></span>购物车</a>|<a href="#"><span class="glyphicon glyphicon-star"></span>收藏夹</a></p>
  </div>
</div>
<!--top end-->
<div class="clr"></div>
<!--center begin-->
  $screen_content	
<!--center end-->
<div class="clr"></div>
<!--footer begin-->
<div class="container float_c mar_t20">
  <div class="in_footer">
    <p class="float_l pad_l15">© 2015 NANJING. All rights reserved.</p>
    <p class="float_r"><a href="#">关于我们</a>|<a href="#">技术支持</a></p>
  </div>
</div>
<!--footer end-->
<script type="text/javascript" src="/script/bootstrap.min.js"></script>
</body>
</html>