.login_yzm{width:100px;}

.float_l{ float:left;}
.float_r{ float:right}
.float_c{margin:0 auto;padding:0 auto;}



.clr{clear:both;padding:0ox;margin:0px;overflow:hidden;width:100%;height:1px;font-size:0px; line-height:0px;}
.column{display:block;float:left;}/*列*/
.colgroup{float:left;width:100%}/*组*/
.first{margin-left:0;clear:left;}/*左边距为零，清除左浮动*/


.gzsj ul li{ float:left; list-style:none; margin:15px;}

